<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transaction-candidate.css') }}">
    <title>Transaction Confirmation</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Confirm Payment</h1>
        <div class="transaction-details">
            <p><strong>Transaction Hash:</strong> {{ candidate.tx_hash }}</p>
            <p><strong>From:</strong> {{ admin_username }}</p>
            <p><strong>To:</strong> System Address</p>
            <p><strong>Gas Fee:</strong> {{ gas_fee }} ZTH</p>
            <p><strong>Voting Fee:</strong> {{ voting_fee }} ZTH</p>
            <p><strong>Total Fee:</strong> {{ total_fee }} ZTH</p>
        </div>

        <form method="POST" class="payment-form">
            <button type="submit" class="confirm-button">Confirm Payment</button>
        </form>

        <a href="{{ url_for('admin.manage_candidate') }}" class="cancel-link">Cancel</a>

        
    </div>
    <footer>
        <p>Part of <strong>Zytherion</strong></p>
    </footer>
</body>
</html>
